# Secrets and API Keys
*.env
*.private
*.secret

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# OS-specific
.DS_Store
Thumbs.db

# gemini-cli settings
.gemini/

# GitHub App credentials
gha-creds-*.json

# Bundler
vendor/bundle/
